.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 8px 14px;
}
a {
  text-decoration: none;
  color: white;
}
span {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.navbar__logo {
  font-size: 24px;
}
.navbar__menu {
  display: flex;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 14px;
}
.navbar__menu li:hover,
.navbar__link li:hover {
  background-color: orange;
  border-radius: 4px;
}
.navbar__link {
  display: flex;
  padding-left: 0;
}
.navbar__link li {
  padding: 8px 14px;
}
.toggleBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__link {
    display: none;
    width: 100%;
    justify-content: center;
  }
  .toggleBtn {
    display: block;
    position: absolute;
    right: 24px;
    padding: 0px 16px;
  }
  .toggleBtn:hover {
    background-color: orange;
    border-radius: 4px;
  }
  .navbar__menu.active,
  .navbar__link.active {
    display: flex;
  }
}
